
.pets-subheader {
	width: 300px;
	margin: 0px;
	padding: 0px;
}

/* profile picture edit */
.pets-profile-picture {
	width: 150px;
	height: 150px;
	background-color: blue;
	border-radius: 50%;
	-webkit-border-radius: 50%; /* vendor prefixed properties */
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	display: inline-block;
	position: relative;
	margin: 0px;
	padding: 0px;
}

.pets-profile-container {
	display: flex;
	align-items: center;
	border: 1px #ccc solid;
	background-color: #ccc;
	border-radius: 25px;
	margin-left: 20px;
	margin-right: 20px;
}

.pets-body-container {
	display:flex;
	flex-direction: column;
	border: 1px #ccc solid;
	background-color: #ccc;
	border-radius: 25px;
	margin-left: 20px;
	margin-right: 20px;
}

.pets-subheader-container {
	display: flex;
  align-items:flex-end;
}

.pets-profile-container div, .pets-body-container div, .pets-subheader-container div {
	/* border: 1px #ccc solid; */
	padding-left: 10px;
}

.pets-subheader-title {
	margin-left: 0px;
}

.pets-subheader-edit {
	flex: 14;
	padding: 0px;
  text-align: right;
}
.pets-subheader-icon {
	flex: 1;
	padding: 0px;
}

.pets-profile-photo-box {
	flex: 1;
}

.pets-profile-details-box {
	flex: 11;
}

.pets-body-box {
	flex: 1;
}

h4 {
  padding: 5px;
  margin: 0px;
}

@media(max-width: 768px)
{
	.edit-pet {
		display: none;
	}

	.pets-subheader-edit {
		display: none;
	}
}
