
.pets-header{
	display: inline;
	margin-left: 40px;
}

.icon{
	display: inline;
	float:right;
	margin-right:40px;
}

/* profile picture edit */
.pets-profile-picture {
	width: 150px;
	height: 150px;
	background-color: blue;
	border-radius: 50%;
	-webkit-border-radius: 50%; /* vendor prefixed properties */
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	display: inline-block;
	position: relative;
}

.pets-container-1{
	display: flex;
	align-items: center;
}

.pets-container-2{
	display:flex;
	flex-direction: column;
}

.pets-container-1 div, .pets-container-2 div{
	/* border: 1px #ccc solid; */
	padding: 10px;
}

.pets-box-1{
	margin-left: 40px;
}

.container-2-box{
	margin-left: 40px;
}
