.walk-header {
  margin-left: 20px;
  margin-top: 55px;
  padding: 0px;
  margin-bottom: -20px;
}

.walk-actions-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  /* border: 1px #333 dashed; */
}

.walk-container-2{
	display: flex;
	align-items:center;
  margin-left: -25px;
}

.walk-actions-container div, .walk-container-2 div {
	/* border: 1px #ccc dotted; */
	padding: 0px;
}

.walk-container-box-icon {
  flex: 1;
  text-align: right;
}

.walk-container-box-text {
  flex: 1;
}

.walk-container-box-value {
  flex: 1;
}

.walk-container-box-2 {
  flex: 24;
	padding: 0px;
}

.container-box {
	margin-left: 20px;
}

.container-2-box-1 {
  flex: 1;
}
.container-2-box-2 {
	flex: 12;
}

@media(max-width: 768px)
{
	.actions-text {
		display: none;
	}
}
