
.header h1{
  border: 1px #ccc solid;
  margin-bottom: 0px;
}

.header {
  text-align: center;
  font-size: 1.5em;
}

.icon{
	display: inline;
	float:right;
	margin-right:40px;
}

/* profile picture edit */
.profile-picture {
	width: 35px;
	height: 35px;
	background-color: blue;
	border-radius: 50%;
	-webkit-border-radius: 50%; /* vendor prefixed properties */
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	display: inline-block;
	position: relative;
}

.container-1{
	display: flex;
	align-items: center;

}

.container-1 div{
	border: 1px #ccc solid;
	padding: 0px;
}

.box-1{
  flex: 1;
	margin-left: 40px;
}

.box-2{
  flex: 12;
/* to be styled later? */
}

.box-3{
  flex: 12;
/* to be styled later? */
}
