.actions-count-container {
	display: flex;
  align-items:center;
  /* border: 1px #118 solid; */
}

.actions-count-container div, .actions-container div {
	/* border: 1px #ccc solid; */
}

.actions-icons {
  flex: 2;
  text-align: right;
}

.actions-text {
  flex: 1;
}

.actions-text h4 {
  flex: 1;
  padding: 0px;
}

.actions-count-values {
  flex: 1;
}


@media(max-width: 768px)
{
	.action-count-icon {
		display: none;
	}
  .actions-icons {
    margin-left: 10px;
  }
}
